@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/uni.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingpintuijian:before {
  content: "\e60d";
}

.icon-xiaolian:before {
  content: "\e60f";
}

.icon-yuandianxiao:before {
  content: "\e82f";
}

.icon-xiazai5:before {
  content: "\e605";
}

.icon-icon34:before {
  content: "\e62b";
}

.icon-webicon318:before {
  content: "\e6c2";
}

.icon-iconfontguanbi:before {
  content: "\e643";
}

.icon-icon25201:before {
  content: "\e70d";
}

.icon-cuxiaoguanli:before {
  content: "\e60e";
}

.icon-miaosha:before {
  content: "\e6c3";
}

.icon-huiyuan:before {
  content: "\e60b";
}

.icon-caigou-xianxing:before {
  content: "\e887";
}

.icon-caigou:before {
  content: "\e888";
}

.icon-yingyongchengxu-xianxing:before {
  content: "\e8a1";
}

.icon-yingyongchengxu:before {
  content: "\e8a2";
}

.icon-ziyuan-xianxing:before {
  content: "\e8a4";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-shouye-xianxing:before {
  content: "\e8ba";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-yonghu:before {
  content: "\e8c9";
}

.icon-ditu:before {
  content: "\e906";
}

.icon-sousuo2:before {
  content: "\e757";
}

.icon-2:before {
  content: "\e684";
}

.icon-dizhi:before {
  content: "\e608";
}

.icon-huangguan:before {
  content: "\e624";
}

.icon-huangguan1:before {
  content: "\e625";
}

.icon-huangguan2:before {
  content: "\e626";
}

.icon-wuliu:before {
  content: "\e6f2";
}

.icon-xuanzhong:before {
  content: "\e615";
}

.icon-xinpin:before {
  content: "\e610";
}

.icon-arrow:before {
  content: "\e627";
}

.icon-bianji:before {
  content: "\e6cc";
}

.icon-wenti:before {
  content: "\e758";
}

.icon-qiandai:before {
  content: "\e6b1";
}

.icon-xiangyou:before {
  content: "\e679";
}

.icon-remen:before {
  content: "\e67c";
}

.icon-tuandui:before {
  content: "\e685";
}

.icon-hebingxingzhuang:before {
  content: "\e656";
}

.icon-gouwuche1:before {
  content: "\e642";
}

.icon-liulan:before {
  content: "\e629";
}

.icon-jinbi1:before {
  content: "\e655";
}

.icon-guanbi2:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\e67d";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-tongji:before {
  content: "\e687";
}

.icon-caidan:before {
  content: "\e62a";
}

.icon-erweima:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e62f";
}

.icon-shuoming:before {
  content: "\e630";
}

.icon-pailie:before {
  content: "\e61b";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-yinhangqia:before {
  content: "\e72c";
}

.icon-sousuo1:before {
  content: "\e64c";
}

.icon-duihao:before {
  content: "\e64e";
}

.icon-dingdan:before {
  content: "\e61e";
}

.icon-tupianpailie:before {
  content: "\e620";
}

.icon-chongzhi:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\e619";
}

.icon-duihao2:before {
  content: "\e601";
}

.icon-complete:before {
  content: "\e646";
}

.icon-weixin1:before {
  content: "\e66e";
}

.icon-tianjiadizhi:before {
  content: "\e640";
}

.icon-weixin2:before {
  content: "\e604";
}

.icon-gouwuche:before {
  content: "\e669";
}

.icon-jiazai:before {
  content: "\e62c";
}

.icon-kefu_o:before {
  content: "\eb63";
}

.icon-liwu_o:before {
  content: "\eb65";
}

.icon-huobiliu_o:before {
  content: "\eb9f";
}

.icon-jinbi_o:before {
  content: "\eba1";
}

.icon-gerentouxiang_o:before {
  content: "\ebac";
}

.icon-qunzu_o:before {
  content: "\ebad";
}

.icon-shoucang_o:before {
  content: "\ebae";
}

.icon-didiandingwei_o:before {
  content: "\ebba";
}

.icon-zhekou:before {
  content: "\e790";
}

.icon-laba:before {
  content: "\e612";
}

.icon-quanxianguanlisuozi:before {
  content: "\e6d2";
}

.icon-xiala1:before {
  content: "\e609";
}

.icon-jingyanzhi:before {
  content: "\e62e";
}

.icon-kefu:before {
  content: "\e6b2";
}

.icon-shenhezhong:before {
  content: "\e6ce";
}

.icon-kanjia1:before {
  content: "\e613";
}

.icon-shanchu1:before {
  content: "\e611";
}

.icon-yonghu1:before {
  content: "\e644";
}

.icon-suozi:before {
  content: "\e631";
}

.icon-jiantou:before {
  content: "\e641";
}

.icon-kanjia:before {
  content: "\e69b";
}

.icon-pintuan:before {
  content: "\e60c";
}

.icon-bianji1:before {
  content: "\e614";
}

.icon-youhuiquan:before {
  content: "\e6e4";
}

.icon-xiangxia:before {
  content: "\e8ca";
}

.icon-shanchu:before {
  content: "\e628";
}

.icon-guanbi3:before {
  content: "\e6c5";
}

.icon-xuanzhong1:before {
  content: "\e6ef";
}

.icon-weixuanzhong:before {
  content: "\e6f0";
}

.icon-zhuangshixian:before {
  content: "\e6f1";
}

.icon-jishuzhichi:before {
  content: "\e6f3";
}

.icon-biankuang:before {
  content: "\e6f4";
}

.icon-guanbi1:before {
  content: "\e6f5";
}

.icon-xiangshang:before {
  content: "\ebbb";
}

.icon-icon-test:before {
  content: "\e6f6";
}

.icon-mingxi:before {
  content: "\e6f7";
}

.icon-tishengfenzhi:before {
  content: "\e6f8";
}

.icon-pintuanchenggong:before {
  content: "\e6f9";
}

.icon-pintuanshibai:before {
  content: "\e6fa";
}

.icon-shitixing:before {
  content: "\e6fb";
}

.icon-kongxinxing:before {
  content: "\e6fc";
}

.icon-yituikuan:before {
  content: "\e6fd";
}

.icon-tuikuanzhong:before {
  content: "\e6fe";
}

.icon-lingxing:before {
  content: "\e6ff";
}

.icon-xiangzuo:before {
  content: "\ebbc";
}

.icon-shoucang1:before {
  content: "\e714";
}